.gallery {
    padding: 5em 2em;
    display: grid;
    grid-template-columns: repeat(4, auto);

    img {
        transition: 1s;
        padding: 1em;
        width: 100%;
    }

    img:hover {
        filter: sepia(100%);
        transform: scale(1.1);
        border-radius: 2.5em 2.5em 0 0;
    }
}