footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    padding-bottom: 2em;
    width: 100%;

    a {
        text-decoration: none;
        list-style: none;
        color: black;
        font-size: 110%;
    }
}