* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(71, 43, 20);
    background-image: url(/www-public/assets/images/waters.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Galdeano', sans-serif;
    font-size: 100%;
}

#logo {
    width: 12em;
    padding-left: 0.5em;
}

nav {
    padding: 0.2em 0.5em;
    background-color: rgb(201,166,114);
    //rgb(214, 147, 102);
    position: fixed;
    top: 0;
    width: 100%;

    ul {
        float: right;
        padding-right: 1em;

        li {
            display: inline-block;
            padding-top: 1.3em;

            a {
                text-decoration: none;
                list-style: none;
                padding: 0 0.5em;
                font-size: 120%;
                font-weight: bold;
                color: black;
            }

            a:hover {
                color: rgb(71, 43, 20);
            }
        }
    }
    

}