* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(71, 43, 20);
  background-image: url(/www-public/assets/images/waters.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Galdeano", sans-serif;
  font-size: 100%;
}

#logo {
  width: 12em;
  padding-left: 0.5em;
}

nav {
  padding: 0.2em 0.5em;
  background-color: rgb(201, 166, 114);
  position: fixed;
  top: 0;
  width: 100%;
}
nav ul {
  float: right;
  padding-right: 1em;
}
nav ul li {
  display: inline-block;
  padding-top: 1.3em;
}
nav ul li a {
  text-decoration: none;
  list-style: none;
  padding: 0 0.5em;
  font-size: 120%;
  font-weight: bold;
  color: black;
}
nav ul li a:hover {
  color: rgb(71, 43, 20);
}

.mainPage {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10em 2em 0 2em;
  line-height: 3em;
}
.mainPage div:first-child {
  padding: 8em 1em 0 0;
  font-size: 130%;
}
.mainPage img {
  width: 25em;
  padding-top: 7em;
}
.mainPage a {
  text-decoration: none;
  list-style: none;
  color: black;
  padding: 0.6em 1em;
  border-radius: 0.5em;
  border: 2px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#paint {
  margin-bottom: 1em;
}

#myWork {
  margin: 0 2em 0 3em;
  background-color: rgb(201, 166, 114);
}

#myWork:hover {
  background-color: rgb(174, 80, 58);
}

#myStory {
  background-color: rgba(201, 166, 114, 0.4);
}

#myStory:hover {
  background-color: rgb(201, 166, 114);
}

#island {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 17em;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  padding-bottom: 2em;
  width: 100%;
}
footer a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 1.1em;
}

#quote {
  padding-top: 5em;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 2em;
}

.descriptive {
  margin: 1em;
  background-color: rgb(201, 166, 114);
  border-radius: 1em 1em 0 0;
  text-align: center;
}
.descriptive img {
  width: 100%;
  border-radius: 1em 1em 0 0;
}
.descriptive #face {
  width: 7em;
  margin: 1em 0 0 0;
  border-radius: 5em;
}
.descriptive h3 {
  margin: 0.5em 0 0 1em;
}
.descriptive p,
.descriptive ul {
  padding: 1em;
  list-style: none;
  font-size: 1.2em;
}

h2 {
  margin-left: 2.5em;
}

.social_media {
  margin: 1em 0 0 3em;
}
.social_media img {
  width: 6em;
  margin-right: 0.5em;
}

section {
  padding: 4em 2em 2em 2em;
}
section h2 {
  margin: 2.5em 0 2em 0;
  text-align: center;
}
section p {
  font-size: 1.3em;
  margin: 0 0 2em 0;
}
section .projects {
  display: grid;
  grid-template-columns: repeat(4, auto);
}
section .projects figure {
  margin: 3px;
  overflow: hidden;
  position: relative;
  background-color: black;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
section .projects figure img {
  width: calc(100% + 60px);
  opacity: 0.7;
  -webkit-transform: translate3d(0, -20px, 0) scale(1.12);
          transform: translate3d(0, -20px, 0) scale(1.12);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
section .projects figure figcaption {
  position: absolute;
  padding: 1em 2em;
  top: 0;
  color: black;
  text-align: center;
}
section .projects figure figcaption h3 {
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: rgba(255, 215, 93, 0.5);
  border-radius: 10px;
  display: inline-block;
  padding: 0.5em 0.7em;
}
section .projects figure figcaption .deco p {
  margin: 0.5em 0;
}
section .projects figure figcaption .deco a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid rgb(54, 39, 24);
  background-color: rgba(138, 206, 191, 0.3);
  padding: 0.5em;
  font-weight: bold;
  color: black;
  border-radius: 10px;
}
section .projects figure figcaption .deco a:last-child {
  background-color: rgba(134, 81, 37, 0.3);
}
section .projects figure .deco {
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
section .projects figure:hover {
  background: rgb(255, 215, 93);
  border-radius: 20px 20px 0 0;
}
section .projects figure:first-child {
  margin-left: 0;
}
section .projects figure:hover .deco {
  opacity: 1;
}

.gallery {
  padding: 5em 2em;
  display: grid;
  grid-template-columns: repeat(4, auto);
}
.gallery img {
  -webkit-transition: 1s;
  transition: 1s;
  padding: 1em;
  width: 100%;
}
.gallery img:hover {
  -webkit-filter: sepia(100%);
          filter: sepia(100%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 2.5em 2.5em 0 0;
}/*# sourceMappingURL=style.css.map */